@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Taylor Okel:</strong>   <a href="mailto:okeltw@mail.uc.edu">okeltw@mail.uc.edu</a><br />
    <strong>Kamari Wright:</strong> <a href="mailto:wright.1675@osu.edu">wright.1675@osu.edu</a><br />
    <strong>Joshua Pavlica:</strong><a href="mailto:joshpav@live.com">joshpav@live.com</a><br />
    <strong>Kayli Doll:</strong>   <a href="mailto:doll.64@osu.edu">doll.64@osu.edu</a><br />

</address>