@model WorldAware.Models.Shelter

@{
    ViewBag.Title = "Shelter";
}

<h2>Seeking Shelter</h2>
<p>
    Affected by an incident? Post a request here to search for aid.
</p>

@using (@Html.BeginForm("ListShelter", "Home", FormMethod.Post))
{
    <div class="panel-body form-group">
        <label>Name</label><br />
        <i>What is your name?</i><br />
        @Html.TextBoxFor(m => m.name, "name", new { @class = "form-control" })
        <br /><br />

        <label>Location</label><br />
        <i>Where are you located at?</i><br />
        @Html.TextBoxFor(m => m.location, "location", new { @class = "form-control" })
        <br /><br />

        <label>Contact</label><br />
        <i>Where can you be reached at?</i><br />
        @Html.TextBoxFor(m => m.contact, "contact", new { @class = "form-control" })
        <br /><br />

        <button class="btn-primary btn" type="submit">Submit</button>
    </div>
}