@{
    ViewBag.Title = "Home Page";
}
<style>
    #map {
        padding: 0;
        margin: 0;
        height: auto;
    }
</style>
<div class="space">

</div>
<div id="map" class="top-buffer">
    @* Content for the Map *@ 
</div>