@{
    ViewBag.Title = "Home Page";
}
<style>
    #map {
        padding: 0;
        margin: 0;
        height: auto;
    }
</style>
<div class="space">

</div>
<div id="map" class="top-buffer">
    @* Content for the Map *@
    <iframe src="https://www.google.com/maps/d/embed?mid=1uQMiayaIfrRoQVOetFJptulgjrzYHw4N" width="750" height="600"></iframe>
</div>