
@{
    ViewBag.Title = "ListInc";
}

<h2>Incidents</h2>
<p>Incidents that have been reported by users. Around the globe.  In real time.</p>

<table class="form-control">
    <thead>
        <tr>
            <th width="25%">Event</th>
            <th width="25%">Location</th>
            <th width="50%">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>This is an Event</td>
            <td>It is happening at this location</td>
            <td>Here's a description</td>
        </tr>
    </tbody>
</table>
